---
layout: page
title: Java
---

{% for post in site.posts %}

    <div class="ui middle aligned selection list">
        {% if site.category == 'java' %}
        <div class="item">
            <a class="header" href="{{ BASE_PATH }}{{ post.url }}">
              <!-- strip_html : 모든 HTML 태그를 문자열로부터 제거 -->
                {{ post.title | strip_html | truncatewords: 15 }}
                <small class="small-date">
                    {{ post.date | date_to_string }}
                    <!-- {% if post.category %}
                        in <i>{{ post.category }}</i>
                    {% endif %} -->
                </small>
            </a>
            {{ post.content | strip_html | truncatewords: 30 }}
        </div>
        {% endif %}
    </div>

{% endfor %}
