<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">

    <div class="page-wrap">
        {% include header.html %}
        <main>
            {{ content }}
        </main>
    </div>

    <!-- Top 버튼 -->

    <div style="display:scroll; position:fixed; bottom:15px; right:15px;">
    <a onclick="go_top();" title="Top"><img src="/assets/img/upScroll.png"></a>
    </div>
    <!-- Top 버튼 -->

    {% include footer.html %}

    <script src="/assets/js/vendor/jquery.min.js"></script>
    <script src="/assets/js/vendor/semantic.min.js"></script>
    <script type="/assets/js/main.js"></script>
</body>

</html>
